*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: Lato, sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff); 
    padding: clamp(20px, 5vw, 50px) 20px 10px;
}
