*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #70e1f5, #ffd194);
  font-family: Lato, sans-serif;
  padding: clamp(20px, 5vw, 50px) 10px;
  color: #161616;
}