*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Open sans, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}
