*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #d9a7c7, #fffcdc); 
    font-family: Open sans, Helvetica, sans-serif;
    padding: clamp(20px, 5vw, 50px) 10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #212121;
    color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ffffffc3;
}
.container.shake {
    animation: shake 0.4s;
}
@keyframes shake {
    33% {
        transform: translateX(-5px);
    }
    66%{
        transform: translateX(5px);
    }
}
h2 {
    font-size: 30px;
    font-family: Raleway, sans-serif;
    text-align: center;
}
.input-group {
    margin-top: 30px;
}
label {
    font-size: 20px;
    display: block;
    position: relative;
}

input {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #f1f1f1;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 1px solid #f1f1f1;
}
input:focus {
   box-shadow: 0 1px 0px #fff;
}
input::placeholder {
    font-size: 16px;
}
.icon-input-container {
    position: relative;
}
.icone-verif {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: none;
}
.error-msg {
    margin-top: 7px;
    color: #f75252;
    font-weight: 400;
    display: none;
}
.pswd-info {
    margin-top: 8px;
    color: #a9a9a9;
    font-weight: 400;
    display: block;
}
.lines {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.l1, .l2, .l3 {
    height: 5px;
    margin: 15px 5px 20px;
    width: 30%;
    position: relative;
    display: none;
}
.l1 {
    background-color: #cf5914;
}
.l2 {
    background-color: #fdeb50;
}
.l3 {
    background-color: #14e214;
}
.lines span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

form button {
    font-size: 20px;
    min-width: 150px;
    display: block;
    margin: 40px auto 10px;
    padding: 12px 15px;
    background-color: #fffcdc;
    border: 1px solid #f1f1f13d;
    color: #111;
    border-radius: 3px;
    font-family: Raleway;
    font-weight: 600;
    cursor: pointer;
}
form button:hover {
    background-color: #e3dfa2;
}