*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Open sans, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-to-top img {
  width: 50%;
}
h1 {
  font-family: Raleway, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
h1 span {
  font-weight: 400;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
form label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
form input {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.3);
}
.images-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  margin: 0 auto;
}
.images-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.error-msg {
  font-size: 18px;
  margin: 10px 0;
}
.infinite-marker {
  height: 10px;
  width: 100%;
}